body{
    background-color: wheat;
    border-radius: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(223, 170, 74);
    border-radius: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-top: 180px;

}
